<form [formGroup]="form" (ngSubmit)="save()">
    <div class="form-group">
        <label>Old Password</label>
            <input type="password" class="form-control"
                formControlName="password"
            >
        <div *ngIf="form.controls.password.touched && form.controls.password.errors">
            <div class="alert alert-danger"
                *ngIf="form.controls.password.errors.required">
                Password is required.
            </div>
            <div class="alert alert-danger"
                *ngIf="form.controls.password.errors.minlength">
                Password must be at least {{form.controls.password.errors.minlength.requiredLength }} long.
            </div>
            <div class="alert alert-danger"
                *ngIf="form.controls.password.errors.oldMustMatch">
                oldMustMatch
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>New Password</label>
            <input type="password" class="form-control" 
            formControlName="newPassword">
        <div *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors">
            <div class="alert alert-danger"
                *ngIf="form.controls.newPassword.errors.required">
                New password is required.
            </div>
            <div class="alert alert-danger"
                *ngIf="form.controls.newPassword.errors.minlength">
                New password must be at least {{form.controls.newPassword.errors.minlength.requiredLength }} long.
            </div>
        </div>
        
            
    </div>
    <div class="form-group">
        <label>Repeat New Password</label>
            <input type="password" class="form-control"
            formControlName="repeatPassword">
        <div *ngIf="form.controls.repeatPassword.touched && form.controls.repeatPassword.errors">
            <div class="alert alert-danger"
                *ngIf="form.controls.repeatPassword.errors.required">
                Repeat password is required.
            </div>
            <div class="alert alert-danger"
                *ngIf="form.controls.repeatPassword.errors.minlength">
                Repeat password must be at least {{form.controls.repeatPassword.errors.minlength.requiredLength }} long.
            </div>
            
        </div>
         <div class="alert alert-danger"
                *ngIf="form.errors && form.errors.newMustMatch && form.controls.repeatPassword.touched">
                New Password and repeat must match
            </div>
    </div>
    <button  [disabled]="!form.valid" type="submit" class="btn">Save</button>
</form>